$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
    @media (max-width: #{$mobile-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

.Menu {
    margin: 7rem 0;
    display: block;
    overflow: hidden;

    .container {
        .title {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @include tablet {
                flex-direction: column;
            }

            .section_title {
                width: 100%;
            }

            .heading {
                width: 35%;
                padding: 0;
                margin: 1rem 0;

                @include tablet {
                    width: 100%;
                }
            }

            .text {
                width: 40%;
                margin-right: 10rem;
                margin-top: -1rem;
                padding: 0;
                transform: translateY(50%);

                @include tablet {
                    width: 100%;
                    padding-bottom: 1rem;
                    transform: translateY(0);
                }

                @include mobile{
                    margin: 0;
                }
            }

        }
        strong {
            font-size: 0.9rem;
            font-weight: 500;
            margin-top: .5rem;
            display: block;
            font-family: 'Playfair Display', serif;
        }

        .menu_grid {
            margin: 4rem 0;

            .col-4 {
                width: 30%;
                margin: 1rem .5rem;

                @include tablet {
                    width: 45%;
                    font-size: 14px;
                    margin: .5rem;
                    padding: 0;
                }
                @include mobile{
                    width: 100%;
                }
                .menu_tiem {

                    background: #1F1D21;

                    span {
                        padding: 1rem 0rem;
                        display: inline-block;
                        opacity: 0.87;
                        font-weight: 500;

                        &:nth-child(2) {
                            width: 50%;
                            padding-left: 1rem;
                        }

                        &:nth-child(3) {
                            width: 50%;
                            padding-right: 1rem;
                            text-align: right;
                        }
                    }
                }
            }
        }

        button {
            margin: 0 auto;
            display: flex;
            justify-content: center;
        }
    }
}