#serving {
    .Title_heading__IWHie {
        float: left;
        width: 55%;
        padding: 0;
        margin: 1rem 0;
    }

    .Title_text__Y90NX {
        float: right;
        width: 45%;
        padding: 0;
        transform: translateY(50%);
    }
}