/* -- Navbar.module.scss -- */
nav {
    height: 5rem;
    position: absolute;
    z-index: 1000;
    .logo {
        font-size: 1.5rem;
    }

    .navbar__link {
        margin: auto .7rem;
        color: #ffffff;
        &:hover{
            color:  var(--color-orange-a);
        }
    }


    .navbar__clone_project {
        text-decoration: none;
        color: var(--color-orange-a);
        .navbar__clone_icon{
            margin-left: 1rem;
            color: #ffffff;
        }
    }
}