$mobile-width: 480px;
$tablet-width: 900px;
$desktop-width: 1024px;

@mixin mobile {
    @media (max-width: #{$mobile-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

#cnow-more {
    @include mobile {
        margin-top: 2rem;
    }

    .row {
        @include tablet {
            flex-direction: column;

            &>* {
                width: 100%;
            }

            .col-6 {
                .row {
                    flex-direction: row;

                    b {
                        font-weight: 400;
                        font-size: 1.5rem;
                        margin: .5rem 0;
                        display: block;

                        @include tablet {
                            font-size: 1.2rem;
                        }
                    }
                }

                &:nth-child(2) {
                    img {
                        width: 50%;
                        margin: 0;
                    }
                }
            }
        }

        @include mobile {
            .col-6 {
                .row {
                    flex-direction: column;
                }
                
                &:nth-child(2) {
                    img {
                        width: 100%;
                        margin: 1rem 0;
                    }
                }
            }
        }

        .text {
            margin: 1rem 0;
            padding: 1rem 0;
        }

        .icon {
            width: 1rem;
            height: 1.8rem;
            object-fit: initial;
        }

        .img2 {
            margin-top: -5rem;
        }

    }
}