$mobile-width: var(--mobile-width);
$tablet-width: var(--tablet-width);
$desktop-width: var(--desktop-width);

@mixin mobile {
    @media (max-width: #{$mobile-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

#Quote {
    overflow: hidden;
    margin: 5rem 0;

    .row {
        @include tablet {
            flex-direction: column-reverse;
            width: 70%;
            margin: auto;
        }

        .col-7 {
            width: 55%;
            padding: 0;
            background: url(../../assets/img/Imagecoffe.png) no-repeat center;
            background-size: cover;
            display: flex;
            align-items: center;

            @include tablet {
                width: 100%;
                height: 70vh;
            }

            @include mobile {
                height: 40vh;
            }

            img {
                width: 2.5rem;
                height: 2.5rem;
                display: block;
                margin: auto;
                cursor: pointer;

                &:hover {
                    opacity: .8;
                }
            }
        }

        .col-5 {
            width: 45%;
            padding: 4rem 0;
            display: flex;
            align-items: center;

            @include tablet {
                width: 100%;
                padding: 0;
            }

            .title {
                margin: 0 5rem;
                margin-left: 9rem;

                @include tablet {
                    margin: 0;
                    margin-top: 2rem;
                    padding: 0 1.5rem;
                }

                span {
                    font-size: 7rem;
                    color: #fff;

                    @include tablet {
                        font-size: 4rem;
                    }
                }

                h2 {
                    font-family: 'Playfair Display';
                    font-style: normal;
                    font-weight: lighter;
                    font-size: 34px;
                    color: #FFFFFF;
                    opacity: 0.87;

                    @include tablet {
                        font-size: 1rem;
                    }
                }

                .person {
                    margin-top: 5rem;
                    position: relative;
                    padding: .3rem 0;
                    border-bottom: 1px solid rgb(255, 255, 255, 0.24);

                    @include tablet {
                        margin-top: 2rem;
                    }

                    &::before {
                        position: absolute;
                        content: "";
                        width: 3rem;
                        height: 2px;
                        right: 0;
                        bottom: 0;
                        background-color: #fff;
                    }

                    .row {
                        flex-direction: row;

                        @include tablet {
                            width: 100%;
                            margin: auto;
                        }

                        .col {
                            padding: 0;

                            &:nth-child(1) {
                                b {
                                    opacity: 0.87;
                                }

                                p {
                                    opacity: 0.6;
                                }
                            }

                            &:nth-child(2) {
                                img {
                                    width: 3rem;
                                    height: 3rem;
                                    display: block;
                                    margin-right: 0;
                                    margin-left: auto;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}