header {
    .hero__title {
        margin: 1rem 0;

        .title .section_title {
            display: none;
        }

        .info {
            padding: 1rem 0;

            h3 {
                font-size: 1.3rem;
            }
        }
    }
}