$mobile-width: var(--mobile-width);
$tablet-width: var(--tablet-width);
$desktop-width: var(--desktop-width);

@mixin mobile {
    @media (max-width: #{$mobile-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

.title {
    .section_title {
        span {
            position: relative;
            color: var(--color-orange-a);
            text-transform: uppercase;
            font-family: 'Playfair Display', serif;
            font-size: 1.3rem;

            &::before {
                position: absolute;
                content: '';
                width: 4rem;
                height: .1rem;
                right: 0;
                top: 50%;
                transform: translateX(130%);
                background-color: #ffffff;
            }
        }
    }

    .heading {
        font-size: 3rem;
        margin: 1rem 0;

        @include mobile {
            font-size: 2rem;
        }
    }

    .text {
        color: var(--color-gray-a);
    }

}