$mobile-width: var(--mobile-width);
$tablet-width: var(--tablet-width);
$desktop-width: var(--desktop-width);

@mixin mobile {
    @media (max-width: #{$mobile-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

#Blog {
    margin: 5rem 0;

    .heading {
        margin: 3rem 0;
    }

    .row {
        @include tablet {
            flex-direction: column;

            .col-4 {
                width: 100%;
                margin: 1rem 0;

            }
        }

        .card {
            background: #1F1D21;
            border-radius: .5rem;
            overflow: hidden;

            .card-body {

                padding: 1rem 1.5rem;

                .card-date {
                    font-size: .8rem;
                    color: #B8B8B8;
                }

                .card-title {
                    font-family: 'Playfair Display', sans-serif;
                    font-size: 1.5rem;
                    margin: 1rem 0;
                }

                .card-text {
                    margin: 1rem 0;
                }
            }
        }
    }
}