@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,300;0,600;0,700;1,300;1,500;1,600&display=swap');

:root {
    --color-black-a: #19161B;
    --color-black-b: #2E2D33;
    --color-orange-a: #FFB577;
    --color-gray-a: #B8B8B8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

    body {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        color: white;
        background: var(--color-black-a);

        .container {
            padding: 0 3rem;
        }

        header {
            margin-top: 3rem;
        }

        h2 {
            font-size: 3rem;
        }

        p {
            color: var(--color-gray-a);
            font-weight: 400;
            font-size: 1rem;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'Playfair Display', serif;
        }

        section {
            margin-top: 10rem;

        }
    }
}